/* You can add global styles to this file, and also import other style files */
html,body {
    height:100%;
}
.container-fluid-height{
    height:100%;
    overflow-y: hidden;
}
.userLogin{
    margin: 20% auto;
    height:30%;
    width:60%;
}