<div class = "container">
  <div class ="jumbotron">
    <h2>Login User</h2>
    <label for="email">Email</label>
    <p><input id = "email" [(ngModel)]="input.email" placeholder="Email"></p>
    <label for="password">Password</label>
    <p><input id = "password" [(ngModel)]="input.password" type = "password" placeholder="Password"></p>
    <button class = "btn btn-primary" (click)="loginUser()">Login User</button>
    <button class = "btn btn-info" (click)="selectUr()">Register User</button>
    <button class = "btn btn-warning" (click)="selectPr()">Register Provider</button>
</div>
</div>